<div id="<%= dom_id(template, :index) %>" class="bg-white rounded-md shadow p-6">
  <%= turbo_stream_from template %>
  <%= render template %>
  <%= link_to "View", template, class: "btn btn-white" %>
</div>
