<div id="<%= dom_id(form_field, :index) %>" class="bg-white dark:bg-gray-900 dark:border dark:border-gray-700 rounded-md shadow p-6">
  <%= turbo_stream_from form_field %>
  <%= render form_field %>
  <%= link_to "View", form_field, class: "btn btn-white" %>
</div>
