<script src="<%= ENV.fetch('PLUGIN_BASE_URL') %>/assets/index.html.js" crossorigin="" type="module"></script>
<link rel="modulepreload" crossorigin="" href="<%= ENV.fetch('PLUGIN_BASE_URL') %>/assets/App.js">
<link rel="stylesheet" href="<%= ENV.fetch('PLUGIN_BASE_URL') %>/assets/App.css">
<div class="max-w-3xl mx-auto my-4" >
  <%= content_for :title, "Demo Page" %>
  <h1 class="text-gray-700">
    Demo Page 1
  </h1>
  <p>
    You can use this page to test out the Medispeak app.
  </p>
  <div class="rounded-lg bg-white shadow-sm ring-1 ring-gray-900/5 p-6 mt-4">
    <form action="#">
      <!-- Text Input -->
      <div class="flex flex-wrap items-center justify-start form-group">
        <label for="full_name" class="lg:w-1/6 lg:text-right lg:pr-4 lg:mt-2">Full Name</label>
        <input type="text" id="full_name" name="full_name" class="form-control lg:flex-1">
      </div>
      <div class="flex flex-wrap items-center justify-start form-group">
        <label for="email" class="lg:w-1/6 lg:text-right lg:pr-4 lg:mt-2">Email</label>
        <input type="email" id="email" name="email" class="form-control lg:flex-1">
      </div>
      <!-- Number Input -->
      <div class="flex flex-wrap items-center justify-start form-group">
        <label for="age" class="lg:w-1/6 lg:text-right lg:pr-4 lg:mt-2">Age</label>
        <input type="number" id="age" name="age" class="form-control lg:flex-1">
      </div>
      <div class="flex flex-wrap items-center justify-start form-group">
        <label for="phone_number" class="lg:w-1/6 lg:text-right lg:pr-4 lg:mt-2">Phone Number</label>
        <input type="tel" id="phone_number" name="phone_number" class="form-control lg:flex-1">
      </div>
      <!-- Date Input -->
      <div class="flex flex-wrap items-center justify-start form-group">
        <label for="date_of_birth" class="lg:w-1/6 lg:text-right lg:pr-4 lg:mt-2">Date of Birth</label>
        <input type="date" id="date_of_birth" name="date_of_birth" class="form-control lg:flex-1">
      </div>
      <!-- Radio Buttons -->
      <div class="flex flex-wrap items-center justify-start form-group">
        <label class="lg:w-1/6 lg:text-right lg:pr-4 lg:mt-2">Gender</label>
        <div class="lg:flex-1">
          <input type="radio" id="male" name="gender" value="Male" class="form-radio mr-2">
          <label for="male" class="inline-block mb-0">Male</label>
          <input type="radio" id="female" name="gender" value="Female" class="form-radio mr-2">
          <label for="female" class="inline-block mb-0">Female</label>
          <input type="radio" id="other" name="gender" value="Other" class="form-radio mr-2">
          <label for="other" class="inline-block mb-0">Other</label>
        </div>
      </div>
      <!-- Checkbox -->
      <div class="flex flex-wrap items-center justify-start form-group">
        <label class="lg:w-1/6 lg:text-right lg:pr-4 lg:mt-2">Symptoms</label>
        <div class="lg:flex-1">
          <input type="checkbox" id="headache" name="symptoms" value="Headache" class="form-checkbox mr-2">
          <label for="headache" class="inline-block mb-0">Headache</label>
          <input type="checkbox" id="fever" name="symptoms" value="Fever" class="form-checkbox mr-2">
          <label for="fever" class="inline-block mb-0">Fever</label>
          <input type="checkbox" id="cough" name="symptoms" value="Cough" class="form-checkbox mr-2">
          <label for="cough" class="inline-block mb-0">Cough</label>
        </div>
      </div>
      <!-- Dropdown -->
      <div class="flex flex-wrap items-center justify-start form-group">
        <label for="preferred_time" class="label lg:w-1/6 lg:text-right lg:pr-4 lg:mt-2">Preferred Time</label>
        <div class="relative w-full lg:flex-1">
          <select id="preferred_time" name="preferred_time" class="select">
            <option value="" selected>Choose a time</option>
            <option value="Morning">Morning</option>
            <option value="Afternoon">Afternoon</option>
            <option value="Evening">Evening</option>
          </select>
        </div>
      </div>
      <!-- Textarea -->
      <div class="flex flex-wrap items-center justify-start form-group">
        <label for="additional_notes" class="label lg:w-1/6 lg:text-right lg:pr-4 lg:mt-2">Additional Notes</label>
        <div class="relative w-full lg:flex-1">
          <textarea id="additional_notes" name="additional_notes" rows="4" class="form-control lg:flex-1"></textarea>
        </div>
      </div>
      <!-- Submit Button -->
      <div class="flex flex-wrap items-center justify-start form-group">
        <div class="lg:w-1/6 lg:pr-4"></div>
        <input type="submit" value="Submit" disabled="true" class="btn btn-primary">
      </div>
    </form>
  </div>
</div>
<div id="medispeak_root"></div>
