<div id="<%= dom_id page %>">
  <h3 >
    <%= page.name %>
  </h3>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500 mb-2">Supports Auto Fill for <%= page.form_fields.count%> fields</p>
  </div>
</div>
